%section#gallery
  %h1 The Gallery
  - @gallery.each do |sketch|
    .sketch
      .container
        %a{:href => sketch_path(sketch)}
        = image_tag('spinner.gif', :class => :loading, 'data-url' => sketch_path(sketch, :format => :svg))
        .more
          .title= sketch.title
          .byline= sketch.byline
  .clear
