<footer>
  <div class="wrapper">
    <%= image_tag "swirl_bottom_left.png", :class => 'swirl', :alt => '' %>
    <h1>©2010 Sunlight Labs Olympic Team</h1>
    <%= image_tag "swirl_bottom_right.png", :class => 'swirl', :alt => '' %>
    <div class="clear"></div>
  </div>
</footer>
