<header>
  <div class="wrapper">
    <%= image_tag "swirl_top_left.png", :class => 'swirl', :alt => '' %>
    <h1>
      <%= link_to(
        image_tag("logo.png", :alt => 'Better Draw A District'),
        root_path )%>
    </h1>
    <%= image_tag "swirl_top_right.png", :class => 'swirl', :alt => '' %>
    <div class="clear"></div>
  </div>
</header>
